services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: healthcare_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    restart: always
    ports:
      - "8000:8000"
    environment:
      SECRET_KEY: django-docker-secret-key-change-in-prod
      DEBUG: "True"
      ALLOWED_HOSTS: "*"
      DB_NAME: healthcare_db
      DB_USER: postgres
      DB_PASSWORD: 123456
      DB_HOST: db
      DB_PORT: 5432
    depends_on:
      - db
    command: >
      sh -c "python manage.py migrate &&
             gunicorn healthcare.wsgi:application --bind 0.0.0.0:8000"

volumes:
  pgdata:
